<div *ngIf="!loading; else showLoad">
  <h2 class="mx-auto text-center">Listar Usuários</h2>

  <app-alert *ngIf="showAlert" [mensagem]="alertMessage" [tipoAlerta]="tipoAlerta"></app-alert>

  <mat-form-field>
    <input matInput (keyup)="filtrar($event.target.value)" placeholder="Filtrar por id" />
  </mat-form-field>

  <table mat-table [dataSource]="userList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let user">{{ user.first_name + ' ' + user.last_name }}</td>
    </ng-container>

    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef>Foto</th>
      <td mat-cell *matCellDef="let user"><img class="img-fluid" [src]="user.avatar" alt="Avatar" /></td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let user">
        <button type="button" class="btn btn-link" (click)="goToEditar(user)">
          <mat-icon aria-hidden="false" aria-label="Botão Editar">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="excluir">
      <th mat-header-cell *matHeaderCellDef>Excluir</th>
      <td mat-cell *matCellDef="let user">
        <button type="button" class="btn btn-link" (click)="openDialog(user)">
          <mat-icon aria-hidden="false" aria-label="Botão Excluir">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator
    (page)="pageChangeEvent($event)"
    [pageIndex]="pageData.page - 1"
    [length]="pageData.total"
    [pageSize]="pageData.per_page"
    [pageSizeOptions]="[3, 6, 12]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<ng-template #showLoad>
  <mat-spinner diameter="40" class="mx-auto"></mat-spinner>
</ng-template>
