<div id="sidebar">
  <mat-nav-list>
    <!-- TODO: Verificar se é necessário remover a opção Dashboard -->
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/cadastrar']">
      <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Cadastrar' | translate }}
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/listar']">
      <mat-icon class="sidenav-icon">listar</mat-icon> {{ 'Listar' | translate }}
    </a>
  </mat-nav-list>
</div>
